name: Publish prereleases
on: 
  pull_request:
  push:
    branches:
      - main
      - next
  
permissions: 
  contents: read

jobs:
  build:
    if: ${{ github.repository_owner == 'cloudflare' }}
    runs-on: ubuntu-slim

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Build Package 
        run: npm run build

      - run: npx pkg-pr-new publish